/* font-family: 'Fira Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
    padding: 0;
    margin: 0;
}

.header {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(3, 3, 3);
    color: #FFF;
    padding: 10px;

}

.header-title {
    font-family: 'Fira Sans', sans-serif;
    font-size: 50px;

}


.header-right ul {
    display: flex;
    direction: column;
    margin-right: 120px;

}



.header-right nav ul li {
    margin: 20px;
    list-style: none;

}

.header-right nav ul li a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
}

li a {
    cursor: url("images/icon/Emoticons-Bubble-icon\ \(1\).png"), auto;
}

.header ul li:hover {
    color: rgb(212, 31, 31);
}


.banner {
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(3, 3, 3);
}

.banner-left {
    margin-left: 60px;
}

.heading-text {
    color: rgb(204, 33, 33);
    font-size: 23px;
    font-family: 'Inter', sans-serif;
}

.heading {
    color: #FFF;
    font-size: 65px;
    width: 900px;
}

.text {
    color: rgb(196, 193, 193);
    font-size: 23px;
}

.banner-btn {
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(204, 33, 33);
    padding: 20px 45px;
    margin-top: 45px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

.banner-btn:hover {
    background: linear-gradient(to right, rgb(161, 30, 30), rgb(189, 189, 53));
}

.bannar-right {
    margin-bottom: 90px;
}

.card-container {
    margin-top: 80px;
}

.card-heading {
    font-size: 50px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.card {
    width: 350px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgb(194, 150, 28);
    margin-top: 80px;
    margin-bottom: 80px;
    border: 1px solid gray;
    transition: height 1s ease;

}

.card-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: 400px;
}

.card:hover {
    height: 300px;
}

.card-img {
    text-align: center;
}

.img {
    width: 150px;
    height: auto;
}

.card-desc {
    text-align: center;
}

.about {
    background-color: rgb(20, 20, 20);
}

.about-heading {
    font-size: 50px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #FFF;
}

.about-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;


}

.about-img {
    border-top: 1px solid rgb(175, 37, 37);
    padding: 50px;
    display: inline-block;
    margin-left: 50px;



}



.img-one {
    height: 500px;
    transform: skewY(-10deg);


}

.img-two {
    height: 500px;
    transform: skewY(-10deg);
    margin-left: 40px;
}

.about-text {
    width: 35%;


}

.about-text .about-title {
    font-size: 35px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    margin-left: 100px;
    color: #FFF;

}

.about-text .about-more {
    color: rgb(196, 193, 193);
    font-size: 23px;
    margin-left: 110px;
    text-align: left;
    margin-top: 15px;



}

.about-text ul {
    margin-left: 90px;
    margin-top: 35px;
}

.about-text ul li {
    font-size: 20px;
    padding: 5px;
    color: #FFF;

}

.about-text {
    border-top: 1px solid gray;
    padding: 50px;
    display: inline-block;
    margin-left: 150px;



}

.about-text a {
    margin-left: 90px;
}

.workout-quary {
    background-image: url(images/back.jpg);
    width: 700px;
    height: 230px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px auto;
    border-radius: 30px;
}

.workout-heading {
    color: #FFF;
    font-size: 35px;

}

.workout-btn {
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background-color: #FFF;
    padding: 6px 20px;
    border-radius: 5px;
}

.workout-btn:hover {
    background: linear-gradient(to right, rgb(161, 30, 30), rgb(189, 189, 53));
}

.service {
    margin-bottom: 180px;
}

.service-title {
    font-size: 50px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-bottom: 80px;

}

.cardboard-container {
    display: flex;
    justify-content: center;

}

.cardboard {
    width: 380px;
    height: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgb(92, 28, 92);
    margin: 20px;


}

.cardboard-img img {
    width: 380px;
    height: auto;
    border-radius: 5px;
}

.cardboard-desc {
    text-align: left;
    padding: 30px 20px;
    line-height: 32px;
}

.cardboard-desc-type {
    color: rgb(221, 29, 29);
    font-family: 'Inter', sans-serif;
}

.cardboard-desc-title,
.cardboard-bottom-price {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
}

.cardboard-desc-guide {
    font-family: 'Poppins', sans-serif;
}

.cardboard-bottom {
    display: flex;
    justify-content: space-between;
}

.cardboard-btn {
    color: rgb(221, 29, 29);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.badge {
    position: relative;
}

.badge-img {
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -30px;
    margin-right: -15px;
}

.horizontal {
    margin-bottom: 30px;
    width: 90%;
    margin-left: 90px;

}

.footer-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.author-name {
    color: rgb(240, 24, 24);
}

.footer {
    text-align: center;
}